.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.my-animation-enter-done {
    cursor: pointer;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    display: none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}
